<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <main><%- body %></main>
    <div class="sidebar">
        <ul>
            <% for (let i = 0; i < profiles.length; i++) { 
                if (profile.id === profiles[i].id){
                    continue;
                }%>
                <li><%= profiles[i]%></li>
            <% } %>
        </ul>
    </div>
    <%- include('../partials/footer.ejs') %>
    
  </body>
</html>