<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <style>
      main {
        display: flex;
        justify-content: space-between;
      }
      .body {
        flex: 1;
      }
      .sidebar {
        flex: 1;
      }
    </style>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <main>
      <div class="body">
        <%- body %>
      </div>
      <div class="sidebar">
          <h2>Other Profiles</h2>
          <ul>
              <% for (let i = 0; i < otherProfiles.length; i++) { %>
                  <li><a href="/profiles/<%= otherProfiles[i].id %>"><%= otherProfiles[i].name%></a></li>
              <% } %>
          </ul>
      </div>
    </main>
    <%- include('../partials/footer.ejs') %>
    
  </body>
</html>